body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 110px;
    text-align: center;
}
header img{
    width: 100px;
}
#banner-landing{
    width: 100%;
    height: 60%;
    border: solid red;
}
#banner-landing img{
    width: 100%;
}
#contenedor-titulo h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 17, 17);
    text-align: center;
}
#contenedor-tarjetas{

    width: 100%;
    text-align: center;
    padding: 20px 10px;

}
.tarjeta{
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}
.tarjeta img{
    width: 250px;
    border-radius: 10px 10px 0px 0px;
}
.targeta h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 3px;
    text-align: left;
 
}
.tajeta h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 3px;
    text-align: left;

}
.tarjeta button{
    margin-top: 10px;
    margin-bottom: 10px;
}

#contenedor-formulario{
    padding: 10px 0px 80px 0px;
    text-align: center;
    
}
.formulario-contacto{
    width: 750px;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: left;
    
}
